.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
  }
  
  .modalTitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    @extend .button;
    background-color: #f4f4f4;
    color: var(--text-color);
    margin-right: 10px;
  }
  
  .deleteButton {
    @extend .button;
    background-color: #ff4d4d;
    color: white;
    border: none;
  }