:root {
  --primary-color: #0099ff;
  --primary-color-dark: #0077cc;
  --primary-color-light: #66c2ff;
  --background-color: #ffffff;
  --text-color: #333;
  --border-color: #e0e0e0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
  margin: 0 40px;
}

.logo {
  height: 30px;
}

.welcome {
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.date {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 70px);
  background-color: var(--background-color);
  padding: 20px;
  margin: 0 40px;
}
.logoletra{
  font-size: 19px;
  margin-left: 10px;
  font-weight: bold; /* O también puedes usar 700 */


}

@media (max-width: 768px) {
  @import 'header';
  @import 'task-list';
  @import 'modal';
  @import 'delete-modal';
  @import 'main';
}