
.taskItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px dotted var(--border-color); // Mudando para borda pontilhada
  border-radius: 4px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  padding: 15px;
  margin-bottom: 15px;
  &:hover {
    background-color: #f0f0f0;
    border-style: solid; // Mudando para borda sólida no hover
  }
}

.checkbox {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  width: 24px;
  height: 24px;

  &:checked {
    background-color: var(--primary-color);
    position: relative;

    &::after {
      content: '✓';
      position: absolute;
      color: white;
      font-size: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.taskTitle {
  flex-grow: 1;
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.deleteIcon {
  width: 20px;
  height: 20px;
  color: #888;
  transition: color 0.3s ease;

  &:hover {
    color: #ff4d4d;
  }
}

.addButton {
  background: linear-gradient(to bottom, var(--primary-color-dark), var(--primary-color));
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-light));
  }
}

