.taskListContainer {
  padding: 20px;
  width:500px;
  max-width: 500px; 

}

.heading, .completedHeading {
  font-size: 18px;
  margin-bottom: 20px;
  color: #888;
  text-align: center;
}

.tasksWrapper {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px; // Mantén el padding si deseas que el contenido tenga espacio
}

.taskList {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px; // Si no hay más elementos, esto se puede eliminar
}

.addButtonContainer {
  padding: 0 20px 20px; // Mantén el padding del contenedor del botón
}

.addButton {
  background: linear-gradient(to bottom, var(--primary-color-dark), var(--primary-color));
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-light));
  }
}